@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

body {
    background: whitesmoke;
    font-family: Lato, sans-serif;
}

p, h1, h2, h3, div, button {
    text-align: center;
}

button {
    margin-top: 20px;;
}

.blue {
    background-color: blue;
    border-radius: 0 0 100% 0;
}
.red {
    background-color: red;
    border-radius: 0 100% 0 0;

}
.green {
    background-color: green;
    border-radius: 100% 0 0 0;

}
.yellow {
    background-color: yellow;
    border-radius: 0 0 0 100%;
}

.clicked {
    opacity: .3;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 20%;
}

.pad {
    width: 100%;
    height: 200px;
    border: 2px solid black;    
}